<div align="center">
    {% for value in newsList %}
        <div>
            {{ value.title }}
        </div>
        <div>
           <textarea title="news text" cols="50">
               {{ value.text }}
            </textarea>
        </div>
        <div>
            <a href="/edit-news/{{ value.id }}"> Edit </a> {{ value.date|date('d-m-Y') }}
        </div>
    {% endfor %}
</div>