<center>
    {% for key,value in newslist %}
        <div>
            {{ value.title }}
        </div>
        <div>
           <textarea rows="4" cols="50">
               {{ value.text }}
            </textarea>
        </div>
        <div>
            <a href="/edit-news/{{ value.id }}"> Edit </a> {{ value.date|date('d-m-Y') }}
        </div>
    {% endfor %}
</center>