<a href="/login"> Login </a>
<a href="/search-author"> Search by author </a>
<a href="/create-account"> Create account </a>
<a href="/">Home</a>
<a href="mailto:zeljko.nedeljkovic@gmail.com">Contact Me</a>
