<div align="center">
    <table border="0" style="width:50%">
        <tr>
            <td align="center">
                <a href="/login"> Login </a>
            </td>
            <td align="center">
                <a href="/search-author"> Search by author </a>
            </td>
            <td align="center">
                <a href="mailto:zeljko.nedeljkovic@gmail.com">Contact Me</a>
            </td>
        </tr>
    </table>
</div>