<div align="center">
    <div>
        <a href="/account">Change password</a>
    </div>

    <div>
        <a href="/add-news">Add news</a>
    </div>
    <div>
        <a href="/edit-news"> Edit news </a>
    </div>
    <div>
        <a href="/search"> Search by author </a>
    </div>
    {% if admin %}
        <a href="/edit-users"> Edit users </a>
    {% endif %}
</div>