.news_textarea {
    vertical-align: top;
    text-align: left;
    height: 250px;
    width: 250px;
    display: block;
    background-color: #d1d8d0;
    outline: none;
}

.news_text {
    background-color: #d1d8d0;
    outline: none;
}

.div_padding {
    padding-bottom: 2px;
}